@charset "UTF-8";
/*Reset Global*/
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*Variável*/
/*Theme*/
body {
  font-size: 100%;
  color: #fff;
  background-color: #000;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: #2c2c2c;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

/*Cor do Scroll*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
}

/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: white;
}

.preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 115px;
  height: 25px;
  margin: 0px 0 0 -55px;
  z-index: 1500;
}

.preloader span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: black;
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
  -webkit-animation: preloader 1.2s infinite ease-in-out;
          animation: preloader 1.2s infinite ease-in-out;
}

.preloader::after {
  content: 'Carregando...';
  color: #000;
  margin-top: 49px;
  position: absolute;
  margin-left: 21px;
  font-size: 23px;
}

.preloader span:nth-child(1) {
  left: 66px;
}

.preloader span:nth-child(2) {
  left: 66px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.preloader span:nth-child(3) {
  left: 66px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.preloader span:nth-child(4) {
  left: 66px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.preloader span:nth-child(5) {
  left: 66px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

@keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

/*-----Form-------*/
/*Placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #666 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #666 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #666 !important;
}

/*mudar cor menu responsivo*/
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 236, 236, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: #fff;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*-----Theme-------*/
/*Header*/
#header.bg {
  background: url(../images/bg-header.webp) repeat;
}

@media (max-width: 576px) {
  .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
  }
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 991px) {
  .navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

@media (max-width: 576px) {
  .navbar-brand {
    width: 60%;
  }
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-bottom: 1rem;
}

@media (max-width: 991px) {
  .navbar-collapse {
    margin-top: 2rem;
  }
}

.nav-link {
  border-top: 4px solid #000;
  padding: 1.2rem 0rem !important;
  margin: 0 0.8rem;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.nav-link:hover {
  border-top: 4px solid #fff;
}

@media (max-width: 991px) {
  .nav-link {
    margin: 0;
  }
}

.nav-link.active {
  border-top: 4px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

#banner {
  margin-top: 5rem;
}

#banner:after {
  content: "";
  border-bottom: 8px solid #fff;
  position: relative;
  width: 15%;
  display: block;
  bottom: 7px;
  z-index: 9;
}

.box-legend {
  position: absolute;
  bottom: 35%;
}

@media (max-width: 300px) {
  .box-legend {
    bottom: 15%;
  }
}

.box-legend h2.title {
  font-family: "Raleway", sans-serif;
  font-size: 81px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .box-legend h2.title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .box-legend h2.title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .box-legend h2.title {
    font-size: 26px;
  }
}

@media (max-width: 300px) {
  .box-legend h2.title {
    font-size: 20px;
  }
}

.foto-home {
  margin: 0 auto;
  display: table;
}

#zuuk {
  padding: 8rem 0 2rem 0;
}

@media (max-width: 576px) {
  #zuuk {
    padding: 2rem 0 2rem 0;
  }
}

#zuuk .header-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 576px) {
  #zuuk .header-titles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#zuuk .header-titles h2.title {
  color: #2c2c2c;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #zuuk .header-titles h2.title {
    font-size: 70px;
  }
}

#zuuk .header-titles h3.sub-title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  margin-top: -45px;
  margin-right: 30px;
}

@media (max-width: 991px) {
  #zuuk .header-titles h3.sub-title {
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  #zuuk .header-titles h3.sub-title {
    font-size: 28px;
    margin-top: -33px;
  }
}

@media (max-width: 576px) {
  #zuuk .header-titles h3.sub-title {
    position: relative;
    margin-top: 0px;
    margin-right: 0;
    width: 100%;
    font-size: 16px;
  }
}

#zuuk p {
  font-size: 23px;
  line-height: 39px;
  color: #bbbbbb;
  font-family: "Roboto", sans-serif;
  margin-top: -45px;
}

@media (max-width: 991px) {
  #zuuk p {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  #zuuk p {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (max-width: 576px) {
  #zuuk p {
    font-size: 13px;
    line-height: 21px;
  }
}

.about .main-about {
  margin-top: 10vw;
}

.about .main-about .container.about {
  margin-top: 1rem;
}

.about .main-about .container.about h2.title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

@media (max-width: 767px) {
  .about .main-about .container.about h2.title {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .about .main-about .container.about h2.title {
    font-size: 16px;
    line-height: 20px;
  }
}

.about .main-about .container.about p {
  font-size: 23px;
  line-height: 30px;
  color: #bbbbbb;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .about .main-about .container.about p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 576px) {
  .about .main-about .container.about p {
    font-size: 13px;
    line-height: 21px;
  }
}

.about .main-about .container.about p span {
  color: #fff;
  text-transform: uppercase;
  margin: 3rem 0;
  font-family: "Oswald", sans-serif;
  display: block;
}

.about .main-about .container.about p span b {
  position: absolute;
  margin-top: 30px;
  text-transform: none;
  font-weight: normal;
  font-size: 18px;
  margin-left: -81px;
}

@media (max-width: 767px) {
  .about .main-about .container.about p span b {
    font-size: 16px;
    margin-left: -70px;
  }
}

@media (max-width: 576px) {
  .about .main-about .container.about p span b {
    font-size: 14px;
    margin-left: -61px;
  }
}

.about .main-about .container.about img.dialogo-inicio {
  margin-top: -14px;
}

.about .main-about .container.about img.dialogo-final {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 6px;
}

.about .main-about .container.about .list-paragraph {
  margin-top: 3rem;
  list-style: none;
  padding-left: 0;
}

.about .main-about .container.about .list-paragraph li {
  font-size: 18px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .about .main-about .container.about .list-paragraph li {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .about .main-about .container.about .list-paragraph li {
    font-size: 14px;
  }
}

.about .main-about .container.about .list-paragraph li::before {
  content: '';
  position: relative;
  background-color: #ff3f4a;
  width: 17px;
  height: 18px;
  margin-right: 5px;
  background: url(../images/ico-estrela.png) no-repeat;
  float: left;
}

.cardapio #section-header-cardapio {
  padding: 6rem 0 6rem 0;
}

.cardapio #section-header-cardapio .header-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 576px) {
  .cardapio #section-header-cardapio .header-titles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cardapio #section-header-cardapio .header-titles h2.title {
  color: #2c2c2c;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

@media (max-width: 1399px) {
  .cardapio #section-header-cardapio .header-titles h2.title {
    font-size: 90px;
  }
}

@media (max-width: 1199px) {
  .cardapio #section-header-cardapio .header-titles h2.title {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .cardapio #section-header-cardapio .header-titles h2.title {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .cardapio #section-header-cardapio .header-titles h2.title {
    font-size: 40px;
    letter-spacing: 2px;
  }
}

.cardapio #section-header-cardapio .header-titles h3.sub-title {
  font-family: "Oswald", sans-serif;
  font-size: 53px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  margin-top: 75px;
  margin-right: 118px;
}

@media (max-width: 1399px) {
  .cardapio #section-header-cardapio .header-titles h3.sub-title {
    margin-top: 70px;
    margin-right: 59px;
  }
}

@media (max-width: 1199px) {
  .cardapio #section-header-cardapio .header-titles h3.sub-title {
    font-size: 40px;
    margin-top: 54px;
    margin-right: 73px;
  }
}

@media (max-width: 991px) {
  .cardapio #section-header-cardapio .header-titles h3.sub-title {
    margin-right: 314px;
  }
}

@media (max-width: 767px) {
  .cardapio #section-header-cardapio .header-titles h3.sub-title {
    font-size: 33px;
    margin-right: 189px;
    margin-top: 46px;
  }
}

@media (max-width: 576px) {
  .cardapio #section-header-cardapio .header-titles h3.sub-title {
    font-size: 21px;
    margin-left: 120px;
    margin-top: 30px;
    margin-right: 0;
    right: inherit;
  }
}

.cardapio #section-header-cardapio p {
  font-size: 23px;
  line-height: 39px;
  color: #bbbbbb;
  font-family: "Roboto", sans-serif;
  margin-top: 63px;
}

@media (max-width: 1199px) {
  .cardapio #section-header-cardapio p {
    margin-top: 38px;
  }
}

@media (max-width: 991px) {
  .cardapio #section-header-cardapio p {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .cardapio #section-header-cardapio p {
    font-size: 18px;
    line-height: 30px;
  }
}

.cardapio .row-pratos {
  margin-top: 3rem;
}

.cardapio .row-pratos h2.title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

.cardapio .row-pratos p.paragraph {
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #bbbbbb;
}

.cardapio .content-link {
  margin: 0 auto;
  display: table;
  margin-top: 5rem;
}

.cardapio .content-link a {
  background-color: #fff;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  padding: 0 15px;
}

.cardapio .content-link a:hover {
  background-color: #000;
  color: #fff;
}

.localizacao #section-header-localizacao {
  padding: 6rem 0 6rem 0;
}

.localizacao #section-header-localizacao .header-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 576px) {
  .localizacao #section-header-localizacao .header-titles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.localizacao #section-header-localizacao .header-titles h2.title {
  color: #2c2c2c;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

@media (max-width: 1399px) {
  .localizacao #section-header-localizacao .header-titles h2.title {
    font-size: 90px;
  }
}

@media (max-width: 1199px) {
  .localizacao #section-header-localizacao .header-titles h2.title {
    font-size: 70px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .localizacao #section-header-localizacao .header-titles h2.title {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .localizacao #section-header-localizacao .header-titles h2.title {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 36px;
  }
}

.localizacao #section-header-localizacao .header-titles h3.sub-title {
  font-family: "Oswald", sans-serif;
  font-size: 53px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  margin-top: 137px;
  margin-right: 151px;
}

@media (max-width: 1399px) {
  .localizacao #section-header-localizacao .header-titles h3.sub-title {
    margin-top: 134px;
    margin-right: 100px;
    font-size: 49px;
  }
}

@media (max-width: 1199px) {
  .localizacao #section-header-localizacao .header-titles h3.sub-title {
    font-size: 38px;
    margin-top: 100px;
    margin-right: 103px;
  }
}

@media (max-width: 991px) {
  .localizacao #section-header-localizacao .header-titles h3.sub-title {
    margin-right: 344px;
  }
}

@media (max-width: 767px) {
  .localizacao #section-header-localizacao .header-titles h3.sub-title {
    font-size: 33px;
    margin-right: 208px;
    margin-top: 99px;
  }
}

@media (max-width: 576px) {
  .localizacao #section-header-localizacao .header-titles h3.sub-title {
    font-size: 21px;
    margin-left: 81px;
    margin-top: 61px;
    margin-right: 0;
    right: inherit;
  }
}

.localizacao #section-header-localizacao .title-endereco {
  font-family: "Oswald", sans-serif;
  margin-top: 76px;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .localizacao #section-header-localizacao .title-endereco {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .localizacao #section-header-localizacao .title-endereco {
    margin-top: 50px;
  }
}

.localizacao #section-header-localizacao p {
  font-size: 23px;
  line-height: 39px;
  color: #bbbbbb;
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .localizacao #section-header-localizacao p {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .localizacao #section-header-localizacao p {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .localizacao #section-header-localizacao p {
    font-size: 18px;
    line-height: 30px;
  }
}

.localizacao .row-espaco {
  margin-top: 3rem;
}

.localizacao .row-espaco h2.title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-bottom: 1rem;
}

.localizacao .row-espaco h3.sub-title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  margin-top: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .localizacao .row-espaco h3.sub-title {
    margin-top: .5rem;
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .localizacao .row-espaco h3.sub-title {
    margin-bottom: 1.5rem;
  }
}

.localizacao .content-text {
  margin: 5rem 0;
}

.localizacao .content-text h2.title {
  font-family: "Oswald", sans-serif;
  font-size: 53px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1199px) {
  .localizacao .content-text h2.title {
    font-size: 4vw;
  }
}

.localizacao .content-text h3.sub-title {
  color: #2c2c2c;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  z-index: 0;
  position: relative;
}

@media (max-width: 1199px) {
  .localizacao .content-text h3.sub-title {
    font-size: 10vw;
    line-height: 8vw;
  }
}

@media (max-width: 767px) {
  .localizacao .content-text h3.sub-title {
    margin-top: 15px;
  }
}

.reservas #section-header-reservas {
  padding: 6rem 0 6rem 0;
}

.reservas #section-header-reservas .header-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 576px) {
  .reservas #section-header-reservas .header-titles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.reservas #section-header-reservas .header-titles h2.title {
  color: #2c2c2c;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  line-height: 80px;
  letter-spacing: 7px;
  text-transform: uppercase;
  padding-left: 1.3rem;
}

@media (max-width: 1399px) {
  .reservas #section-header-reservas .header-titles h2.title {
    font-size: 90px;
  }
}

@media (max-width: 1199px) {
  .reservas #section-header-reservas .header-titles h2.title {
    font-size: 70px;
    line-height: 60px;
  }
}

@media (max-width: 767px) {
  .reservas #section-header-reservas .header-titles h2.title {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .reservas #section-header-reservas .header-titles h2.title {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 36px;
  }
}

.reservas #section-header-reservas .header-titles h3.sub-title {
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 60px;
  left: 0;
}

@media (max-width: 1399px) {
  .reservas #section-header-reservas .header-titles h3.sub-title {
    font-size: 34px;
  }
}

@media (max-width: 1199px) {
  .reservas #section-header-reservas .header-titles h3.sub-title {
    font-size: 28px;
    margin-top: 45px;
  }
}

@media (max-width: 767px) {
  .reservas #section-header-reservas .header-titles h3.sub-title {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .reservas #section-header-reservas .header-titles h3.sub-title {
    font-size: 18px;
    margin-top: 27px;
    right: inherit;
  }
}

.reservas #section-header-reservas .main-reservas {
  margin-top: 5rem;
}

.reservas #section-header-reservas .main-reservas h2.title {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}

.reservas #section-header-reservas .main-reservas p.paragraph a {
  color: #bbb;
}

.reservas #section-header-reservas .main-reservas form .col50 {
  width: 50%;
  float: left;
  margin-bottom: 40px;
}

@media (max-width: 559px) {
  .reservas #section-header-reservas .main-reservas form .col50 {
    width: 100%;
  }
}

.reservas #section-header-reservas .main-reservas form label {
  width: 100%;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.reservas #section-header-reservas .main-reservas form input {
  width: 90%;
  background: none;
  border: none;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 10px 10px;
  color: #666;
  font-family: "Raleway", sans-serif;
}

.reservas #section-header-reservas .main-reservas form input:focus-visible {
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  outline: none;
}

@media (max-width: 559px) {
  .reservas #section-header-reservas .main-reservas form input {
    width: 100%;
  }
}

.reservas #section-header-reservas .main-reservas form input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  -webkit-filter: invert(0.8) brightness(50%) sepia(0%) saturate(10000%) hue-rotate(20deg);
          filter: invert(0.8) brightness(50%) sepia(0%) saturate(10000%) hue-rotate(20deg);
}

.reservas #section-header-reservas .main-reservas form input[type="submit"] {
  width: inherit;
  border: none;
  background: #fff;
  font-family: "Oswald", sans-serif;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 2rem;
  text-transform: uppercase;
  color: #000;
}

.reservas #section-header-reservas .main-reservas form input[type="submit"]:hover {
  background-color: #2c2c2c;
}

.reservas #section-header-reservas .main-reservas form textarea {
  width: 95%;
  background: none;
  border: none;
  border-left: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 10px 10px;
  color: #666;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 767px) {
  .reservas #section-header-reservas .main-reservas .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
}

@media (max-width: 767px) {
  .reservas #section-header-reservas .main-reservas .box-info-contato {
    margin-top: 80px;
  }
}

#footer {
  padding: 6rem 0;
}

#footer .logo-zuuk {
  max-width: 130px;
}

@media (max-width: 991px) {
  #footer .logo-zuuk {
    margin: 0 auto;
    display: table;
    margin-bottom: 40px;
  }
}

#footer .box-tel-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media (max-width: 576px) {
  #footer .box-tel-redes img {
    width: 17%;
  }
}

#footer .box-tel-redes span.tel {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}

#footer .box-tel-redes span.tel:hover {
  color: #2c2c2c;
}

@media (max-width: 576px) {
  #footer .box-tel-redes span.tel {
    font-size: 24px;
  }
}

#footer .box-tel-redes .box-redes a {
  margin: 0 .2rem;
}

#footer address {
  margin-top: .5rem;
}

@media (max-width: 991px) {
  #footer address {
    text-align: center;
    margin-top: 3rem;
  }
}

#footer address p {
  color: #bbb;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#footer .link-email {
  display: block;
}

@media (max-width: 991px) {
  #footer .link-email {
    text-align: center;
  }
}
/*# sourceMappingURL=theme.css.map */